<!DOCTYPE html>
<html>
  <head>
    <title>Angular Practice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body ng-app='learningAngular' ng-controller='practiceCtrl'>

    {{ 4 + 5 }} <br>

    {{ name }} <br>

    <input type='text' ng-model='name'> <br>

    <div ng-bind='name'></div>

    <button ng-click='alertMe()'>Alert Me Angular</button> <br>

    <button ng-click='toggleDiv()'> Toggle Div </button>
    <div ng-show='willShow'> Angular is showing this! </div>
    <div ng-hide='willShow'> Using ng-hide! </div> <br>

    <div> Puppies </div>
    <ul ng-repeat='puppy in puppies'>
      <li> {{ puppy }} </li>
    </ul>

    <div> Class Grades </div>
    <ul ng-repeat='(student, grade) in classGrades'>
      <li> {{ student }}, {{ grade }}  </li>
    </ul>


    <script src='main.js'></script>
  </body>
</html>
